* {
  padding: 0;
  margin: 0;
  /* background-color: black; */
}
body {
  background-color: black;
}
.main {
  background-image: url(assets/images/bg.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
}
.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  background-color: black;
}
nav {
  max-width: 80vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 82px;
  /* gap: 100px; */
}
nav img {
  color: red;
  width: 143px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 82px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 23px;
}
.hero > :first-child {
  text-align: center;
  font-weight: 900;
  font-size: 48px;
}
.hero > :nth-child(2) {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.hero > :nth-child(3) {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.separation {
  height: 7px;
  background-color: rgb(60, 60, 60);
}

.btn {
  padding: 7px 17px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: "Martel Sans", sans-serif;
  position: relative;
  z-index: 10;
  font-size: 16px;
  background-color: #e50914;
  background-color: rgba(23, 23, 23, 0.5);
  border: 1px solid rgb(145, 145, 145);
}
.btn-red {
  line-height: 24px;
  background-color: #e50914;
  font-size: 24px;
  color: white;
  padding: 9px;
  border: none;
  font-weight: 600;
}
.hero-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main input {
  padding: 12px 33px;
  font-size: 16px;
  border-radius: 6px;
  background-color: rgba(23, 23, 23, 0.7);
  border: none;
  color: white;
  padding-right: 100px;
  border: 0.5px solid rgb(67, 67, 67);
}
.btn-red-sm {
  border: none;
  background-color: #e50914;
  color: white;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.video1 {
  position: absolute;
  top: 101px;
  right: 0;
  width: 555px;
  zoom: 0.9;
}
.video2 {
  position: absolute;
  top: 90px;
  right: 30px;
  width: 555px;
  zoom: 0.9;
}

section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

section.first > div :nth-child(2) {
  font-size: 24px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faq {
  background: black;
  color: white;
  padding: 34px;
}

.faqbox:hover {
  background-color: #414141;
  color: white;
}

.faqbox svg {
  filter: invert(1);
}

.faqbox {
  transition: all 1s ease-out;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 60vw;
  margin: 34px auto;
  cursor: pointer;
}

footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 60px;
}

footer .questions {
  padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

@media screen and (max-width: 1300px) {
  nav {
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
  }

  .secImg img {
    width: 305px;
  }

  .secImg video {
    width: 305px;
  }

  .hero > :nth-child(1) {
    font-size: 32px;
  }

  .hero > :nth-child(2) {
    font-size: 18px;
  }

  .hero > :nth-child(3) {
    font-size: 18px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .faq h2 {
    text-align: center;
    font-size: 32px;
  }

  footer {
    max-width: 90vw;
    padding: 75px 0;
  }

  .footer-item {
    align-items: center;
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

.footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
