* {
  padding: 0;
  margin: 0;
  /* background-color: black; */
}
body {
  background-color: black;
}
.main {
  background-image: url(assets/images/bg.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
}
.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  background-color: black;
}
nav {
  max-width: 80vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 82px;
  /* gap: 100px; */
}
nav img {
  color: red;
  width: 143px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 82px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 23px;
}
.hero > :first-child {
  text-align: center;
  font-weight: 900;
  font-size: 48px;
}
.hero > :nth-child(2) {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.hero > :nth-child(3) {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.seperation {
  height: 7px;
  background-color: rgb(60, 60, 60);
}

.btn {
  padding: 7px 17px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: "Martel Sans", sans-serif;
  position: relative;
  z-index: 10;
  font-size: 16px;
  background-color: #e50914;
  background-color: rgba(23, 23, 23, 0.5);
  border: 1px solid rgb(145, 145, 145);
}
.btn-red {
  line-height: 24px;
  background-color: #e50914;
  font-size: 24px;
  color: white;
  padding: 9px;
  border: none;
  font-weight: 600;
}
.hero-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main input {
  padding: 12px 33px;
  font-size: 16px;
  border-radius: 6px;
  background-color: rgba(23, 23, 23, 0.7);
  border: none;
  color: white;
  padding-right: 100px;
  border: 0.5px solid rgb(67, 67, 67);
}
.btn-red-sm {
  border: none;
  background-color: #e50914;
  color: white;
}

